<br>
<br>
<br>
<br>
<div align="center">
  <div style="display: inline-block">
    <fusioncharts width="800" height="500" type="Pie3D" dataFormat="JSON" [dataSource]="dataSource"></fusioncharts> </div>
  <div style="display: inline-block">
    <fusioncharts width="800" height="400" type="column3D" dataFormat="JSON" [dataSource]="dataSource"></fusioncharts></div>
</div>

<!-- <div><fusioncharts width="600" height="350" type="Pie3D" dataFormat="JSON" [dataSource]="dataSource"></fusioncharts></div>

 -->