<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <!-- <nav class="footer-nav">
                <ul>
                    
                </ul>
            </nav> -->

            <div class="credits mx-auto">
                <span class="copyright" style="color:black;font-weight:bold" >
                    © {{test | date: 'yyyy'}}  <i class="fa fa-heart heart"></i>  CampusNet@uml.edu
                </span>
            </div>
        </div>
    </div>
</footer>
