.row{
    width: 800px;
    height: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
    
}

.body {
    background: radial-gradient(closest-corner, rgba(73, 64, 64, 0.404) 60%, rgba(126, 13, 13, 0.397)), linear-gradient(108deg, rgb(168, 14, 14), #1A2980 90%);
    justify-content: center;
}


body { padding-top:20px; }

/* .panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; } */
/* 
.rowdo {
    width: 500px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
} */
