<p>
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
  about works!
</p>

<!-- <div *ngIf="edited" class="alert alert-success box-msg" role="alert">
  <strong>List Saved!</strong> Your changes has been saved.
</div> -->

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register bg-dark">
              <h3 class="title" style="color:white">Register</h3>

                </div>
                <label for="Major">Major</label>
                <input type="text" class="form-control" name="courseMajor" [(ngModel)]="model.courseMajor" #courseMajor="ngModel" required />
                <label for="courseSem">Course Sem</label>
                <input type="text" class="form-control" name="courseSem" [(ngModel)]="model.courseSem" #courseMajor="ngModel" required />
                <button (click)="search()" class="btn btn-success btn-block btn-round">Search</button>
            </div>
        </div>
    </div>
  
<div class="container">
<table>
        <thead>
                <tr>
                  <th>Course code</th>
                  <th>Course Instructor</th>
                  <th>Course Sem</th>
                  <th>Meeting Time</th>
                  <th>Links</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let user of data">
                          <th scope="row">{{user._id}}</th>
                          <td>{{user.courseName}}</td>
                          <td>{{user.courseInstructor}}</td>
                          <td>{{user.courseSem}}</td>
                    
                          <td>
                          </td>
                        </tr>
                    </tbody>
      </table>
      </div>