<div class="container-block home-body">
<div class="jumbotron text-center jumbotron-style">
  <h1>CampusNet</h1>
  <p class="lead">CampusNetApp Description</p>
  <div class="button-style">
    <a class="btn btn-lg  btn-success button-style" [routerLink]="['/register']">Register</a> 
    <a class="btn btn-lg btn-success button-style" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div class="clearfix">
  <h1>Features</h1></div>



<div class="row">
  <div class="col-md-4">
    <p>Connect students taking same/similar courses and also help students pick the right courses</p>
  </div>
  <div class="col-md-4">
    
    <p>Provide a portal for students to buy and sell textbooks, class notes and other educational material</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut porttitor augue. bulum libero. Curabitur porta massa vitae orci scelerisque vulputate. Quisque rhoncus sapien vitae augue elementum porta. Sed in sodales ligula.</p>
  </div>
</div>
</div>
